@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

#projects {
  height: 600px;
  width: 80%;
  background: #1abc9c;
  padding: 2rem;
  margin: 0 auto;
  position: absolute;
  top: 6rem;
  left: 13rem;
  overflow: auto;
  -webkit-animation: gelatine 0.2s ease;
  animation: gelatine 0.2s ease;
}

#projects .home {
  position: fixed;
  top: 20px;
  left: 30px;
}

#projects .home:hover {
  color: #3498db;
  -webkit-animation: gelatine 1s ease;
  animation: gelatine 1s ease;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

#projects .home:not(:hover) {
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

#projects .home a {
  color: #000;
  font-size: 20px;
}

#projects .home a:hover {
  color: #3498db;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

#projects .home a:not(:hover) {
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

#projects ::-webkit-scrollbar {
  width: 12px;
}

#projects #projectGallery #project-header {
  height: 50px;
  width: 100%;
}

#projects #projectGallery .project {
  margin-bottom: 2rem;
}

#app-header {
  height: 60px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
  padding: 1rem;
  position: fixed;
  margin-top: -70px;
  color: #fff;
}

#app-header .right-header {
  margin-top: 1rem;
}

#app-header .right-header .menu {
  list-style-type: none;
  display: inline;
  height: 50px;
  margin-top: 1rem;
  margin-left: 15rem;
}

#app-header .right-header .menu li {
  display: inline;
  margin-left: 2rem;
  padding: 1rem;
}

#app-header .right-header .menu li .menu-link {
  color: #fff;
}

#main {
  padding-top: 70px;
  color: #000;
}

#main h3 a {
  color: #000;
}

#main .powered-by-container {
  margin-top: 10rem;
}

#main .powered-by-container .powered-by {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

#main .see-more {
  margin-top: 5rem;
}

#about {
  min-height: 643px;
  width: 90%;
  margin: 0px auto;
  background: #fff;
  margin-top: 3rem;
  padding: 2rem;
}

#about .about-left__profile {
  background: #F4F8F9;
  color: #000;
}

#about .about-left__profile .left__profile_img {
  padding: 1rem;
  border-bottom: 5px solid #fff;
}

#about .about-left__profile .left__profile_contact_information {
  padding: 1rem;
}

#about .about-left__profile .left__profile_contact_information .grey-text {
  color: #777;
}

#about .about-right__profile {
  margin-left: 5%;
  @extends .about-left__profile;
  border: 2px soild #fff;
}

#about .about-right__profile .right__profile-resumne {
  background: #F4F8F9;
  padding: 2rem;
}

#about .about-right__profile .right__profile-resumne .tab-header {
  background: #bdc3c7;
}

#about .about-right__profile .right__profile-resumne .tab-header .nav {
  border-bottom: 1px solid #2c3e50;
}

#about .about-right__profile .right__profile-resumne .tab-header .nav li {
  border: 1px solid #2c3e50;
}

#about .about-right__profile .right__profile-resumne .tab-header .nav li a {
  color: #000;
}

#about .about-right__profile .right__profile-resumne .tab-content {
  min-height: 506px;
  color: #000;
}

#main-banner {
  min-height: 703px;
  width: 100%;
  background-image: url(https://lonelyplanetimages.imgix.net/mastheads/GettyImages-126140612_super%20.jpg?sharp=10&vib=20&w=1200);
  background-position: center center;
  background-size: cover;
  margin-top: -70px;
  color: #fff;
}

#main-banner #main-banner-overlay {
  position: absolute;
  top: 25rem;
  left: 25rem;
  min-height: 200px;
  width: 60%;
  background: #16a085;
  color: #fff;
  opacity: 0.9;
}

#main-banner #main-banner-overlay h4, #main-banner #main-banner-overlay h3 {
  margin-top: 5rem;
}

#main-banner #main-banner-overlay h4 .spacing, #main-banner #main-banner-overlay h3 .spacing {
  margin-left: 1rem;
  margin-right: 1rem;
}

#main-banner #main-banner-overlay h4 .spacing a, #main-banner #main-banner-overlay h3 .spacing a {
  color: #fff;
}

.app-body {
  color: #fff;
  height: 100%;
  width: 100%;
  background: #F4F8F9;
}

/*# sourceMappingURL=app.css.map */
