#main-banner{
	height:643px;
	width: 100%;
	background-image: url( https://lonelyplanetimages.imgix.net/mastheads/GettyImages-126140612_super%20.jpg?sharp=10&vib=20&w=1200 );
  background-position: center center;
  background-size: cover;
	margin-top: -10px;
	color: #fff;
	#main-banner-overlay{
		position: absolute;
		top:25rem;
		left:25rem;
		min-height: 200px;
		width:60%;
		background:#16a085;
		color: #fff;
		opacity: 0.9;

		h4,h3{
			margin-top:5rem;
			.spacing{
				margin-left:1rem;
				margin-right:1rem;

				a{
					color: #fff;
				}
			}
		}
	}
}
