#about{
	min-height:643px;
	width: 90%;
	margin:0px auto;
	background:#fff;
	margin-top: 3rem;
	padding:2rem;
	// left column
	.about-left__profile{
		background: #F4F8F9;
		color: #000;
		.left__profile_img{
			padding:1rem;
			border-bottom:5px solid #fff;
		}
		.left__profile_contact_information{
			padding:1rem;
			.grey-text {
				color: #777;
			}
		}
	}

	.about-right__profile {
		margin-left:5%;
		@extends .about-left__profile;
		border:2px soild #fff;
		.right__profile-resumne {
			background: #F4F8F9;
			padding: 2rem;

			.tab-header {
				background: #bdc3c7;
				.nav {
					border-bottom: 1px solid #2c3e50;
					li {
						border: 1px solid #2c3e50;
						a{
							color: #000;
						}
					}
				}
			}

			.tab-content{
				min-height:506px;
				color: #000;
			}
		}
	}
}