#app-header{
	height:60px;
	width: 100%;
	padding-left:0px;
	padding-right:0px;
	background:transparent;
	padding:1rem;
	.right-header {
		.menu{
			list-style-type:none;
			display:inline;
			height: 50px;
			margin-top: 1rem;
			li{
				display: inline;
				margin-left: 2rem;
				padding:1rem;
				.menu-link{
					color:#fff;
				}
			}
		}
	}
}