#main{
	padding-top:70px;
	color: #000;
	h3{
		a{
			color: #000;
		}
	}

	.powered-by-container{
		margin-top:10rem;
		.powered-by{
			display:flex;
			justify-content:center;
		}
	}

	.see-more{
		margin-top: 5rem;
	}
}